In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

In [8]:
df = pd.read_csv('/Users/guilhermefelitti/Downloads/bem_candidato_2016/bem_candidato_2016_SP.txt',
                sep=';',
    encoding='ISO-8859-1', 
    decimal=".",
    thousands=",",
    names=["DATA_GERACAO", 'HORA_GERACAO', 'ANO_ELEICAO', 
           'DESCRICAO_ELEICAO', 'UF', 'SQ_CAND', 'CD_TIPO_BEM', 'DS_TIPO_BEM', 
           'DETALHE_BEM', 'VALOR_BEM', 'DATA_ULTIMA_ATU', 'HORA_ULTIMA_ATU'],
    usecols=['SQ_CAND', 'DS_TIPO_BEM', 
           'DETALHE_BEM', 'VALOR_BEM'],
    index_col=False,
    dtype={'VALOR_BEM': float})

In [7]:
df.head(10)

,SQ_CAND,DS_TIPO_BEM,DETALHE_BEM,VALOR_BEM
0,250000004546,Casa,CASA DE MORADA,250000.00
1,250000004546,Outros bens móveis,CAMINHONETE MARCA CHEVROLET MODELO S-10 4X4 AN...,95000.00
2,250000004546,Outros bens imóveis,PROPRIEDADE AGRÍCOLA DENOMINADA SITIO SÔ CÂNDI...,350000.00
3,250000004547,Casa,CASA DE MORADA,224777.20
4,250000004547,Outros bens móveis,VEICULO MARCA VW MODELO CROSSFOX ANO 2010/2011,51000.00
5,250000004548,Casa,IMOVEL RESIDENCIAL,23500.00
6,250000004548,Linha telefônica,LINHA TELEFONICA ADQUIRIDA,3428.88
7,250000004548,Quotas ou quinhões de capital,COTA DE EMPRESA JRB MONTAGENS,57000.00
8,250000004548,Quotas ou quinhões de capital,"COOPERATIVA RURAL COONAI, ATLTERADO PARA CREDI...",525.68
9,250000004548,Depósito bancário em conta corrente no País,COOPERATIVA DE CREDITO CREDICOONAI,1378.88

In [10]:
sq = [250000011022, 250000020852, 250000022100, 250000020813, 250000010992, 250000020825, 250000022074, 250000022081, 250000005006, 250000022076, 250000004987, 250000022098, 250000004981, 250000022086, 250000022120, 250000020837, 250000004982, 250000011622, 250000022111, 250000010999, 250000004989, 250000022073, 250000058381, 250000008365, 250000004984, 250000022137, 250000008347, 250000020779, 250000014868, 250000011624, 250000022124, 250000011011, 250000022075, 250000004997, 250000005003, 250000008293, 250000004992, 250000022084, 250000004986, 250000011018, 250000005798, 250000022114, 250000019126, 250000019125, 250000010863, 250000010847, 250000011027, 250000020854, 250000010842, 250000010991, 250000008366, 250000004979, 250000008375, 250000011016, 250000014885]

In [11]:
patrimonio = df[df['SQ_CAND'].isin(sq)]

In [14]:
patrimonio.head(1)

,SQ_CAND,DS_TIPO_BEM,DETALHE_BEM,VALOR_BEM
760,250000004979,Apartamento,"AVENIDA APRIGIO BEZERRA DA SILVA, 1415 - APTO....",200000.0

In [17]:
eleitos_dic = {'ADILSON AMADEU': 250000019125,
 'ADRIANA RAMALHO': 250000004979,
 'ALESSANDRO GUEDES': 250000022073,
 'ALFREDINHO': 250000022074,
 'ALINE CARDOSO': 250000004981,
 'ANDRÉ SANTOS': 250000008293,
 'ARSELINO TATTO': 250000022076,
 'ATILIO FRANCISCO': 250000008347,
 'AURÉLIO NOMURA': 250000004982,
 'CAMILO CRISTÓFARO': 250000010991,
 'CELSO JATENE': 250000022114,
 'CLAUDINHO DE SOUZA': 250000004987,
 'CLAUDIO FONSECA': 250000010847,
 'CONTE LOPES': 250000011011,
 'DANIEL ANNENBERG': 250000005003,
 'DAVID SOARES': 250000011016,
 'DONATO': 250000022075,
 'DR. MILTON FERREIRA': 250000058381,
 'EDIR SALES': 250000020825,
 'EDUARDO SUPLICY': 250000022081,
 'EDUARDO TUMA': 250000004992,
 'ELISEU GABRIEL': 250000010992,
 'FABIO RIVA': 250000004984,
 'FERNANDO HOLIDAY': 250000011018,
 'GEORGE HATO': 250000020779,
 'GILBERTO NASCIMENTO JR': 250000008375,
 'GILBERTO NATALINI': 250000011624,
 'GILSON BARRETO': 250000005006,
 'ISAC FELIX': 250000022120,
 'JAIR TATTO': 250000022084,
 'JANAINA LIMA': 250000005798,
 'JOÃO JORGE': 250000004997,
 'JULIANA CARDOSO': 250000022086,
 'MARIO COVAS NETO': 250000004989,
 'MILTON LEITE': 250000011022,
 'NOEMI NONATO': 250000022124,
 'OTA': 250000010999,
 'PATRICIA BEZERRA': 250000004986,
 'PAULO FRANGE': 250000019126,
 'POLICE NETO': 250000020837,
 'REIS': 250000022098,
 'RICARDO NUNES': 250000020813,
 'RICARDO TEIXEIRA': 250000022137,
 'RINALDI DIGILIO': 250000008366,
 'RODRIGO GOULART': 250000020852,
 'RUTE COSTA': 250000020854,
 'SANDRA TADEU': 250000011027,
 'SENIVAL MOURA': 250000022100,
 'SONINHA': 250000010842,
 'SOUZA SANTOS': 250000008365,
 'SÂMIA BOMFIM': 250000014885,
 'TONINHO PAIVA': 250000022111,
 'TONINHO VESPOLI': 250000014868,
 'TRIPOLI': 250000011622,
 'ZÉ TURIN': 250000010863}

In [18]:
eleitos_dic1 = {y:x for x,y in eleitos_dic.items()}

In [19]:
patrimonio["NOME"] = patrimonio["SQ_CAND"].map(eleitos_dic1)

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [21]:
patrimonio=patrimonio[['NOME', 'SQ_CAND', 'DS_TIPO_BEM', 
           'DETALHE_BEM', 'VALOR_BEM']]

,NOME,SQ_CAND,DS_TIPO_BEM,DETALHE_BEM,VALOR_BEM
760,ADRIANA RAMALHO,250000004979,Apartamento,"AVENIDA APRIGIO BEZERRA DA SILVA, 1415 - APTO....",200000.0

In [25]:
patrimonio = patrimonio.rename(columns={
    'NOME': 'candidate',
    'Sequencial Candidato': 'candidate_id', 
    'DS_TIPO_BEM': 'kind_property', 
    'DETALHE_BEM': 'details_property',
    'VALOR_BEM': 'value_property', 
})

In [ ]:
patrimonio.to_csv("../data/property.csv")