In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(
    '/Users/guilhermefelitti/Downloads/votacao_candidato_munzona_2016/votacao_candidato_munzona_2016_SP.txt', 
    sep=';',
    encoding='ISO-8859-1', 
    decimal=",",
    thousands=".",
    dtype={'NOME_MUNICIPIO': str, 'NOME_PARTIDO': str},
    names=["DATA_GERACAO",'HORA_GERACAO','ANO_ELEICAO', 'NUM_TURNO','DESCRICAO_ELEICAO',
          'SIGLA_UF', 'SIGLA_UE', 'CODIGO_MUNICIPIO', 'NOME_MUNICIPIO', 'NUMERO_ZONA',
          'CODIGO_CARGO', 'NUMERO_CAND', 'Sequencial Candidato', 'NOME_CANDIDATO', 'NOME_URNA_CANDIDATO','DESCRICAO_CARGO',
          'COD_SIT_CAND_SUPERIOR', 'DESC_SIT_CAND_SUPERIOR', 'CODIGO_SIT_CANDIDATO', 'DESC_SIT_CANDIDATO', 
           'COD_SIT_CAND_TOT', 'DESC_SIT_CAND_TOT', 'NUMERO_PARTIDO', 'SIGLA_PARTIDO', 'NOME_PARTIDO', 
           'SEQUENCIAL_LEGENDA', 'NOME_COLIGACAO', 'COMPOSICAO_LEGENDA', 'TOTAL_VOTOS', 'TRANSITO'],
    usecols=['CODIGO_MUNICIPIO', 'NOME_CANDIDATO', 'Sequencial Candidato','DESCRICAO_CARGO', 'DESC_SIT_CAND_TOT', 
             'TOTAL_VOTOS']

    )

In [4]:
df.columns

Index(['CODIGO_MUNICIPIO', 'Sequencial Candidato', 'NOME_CANDIDATO',
       'DESCRICAO_CARGO', 'DESC_SIT_CAND_TOT', 'TOTAL_VOTOS'],
      dtype='object')

In [5]:
df.head()

,CODIGO_MUNICIPIO,Sequencial Candidato,NOME_CANDIDATO,DESCRICAO_CARGO,DESC_SIT_CAND_TOT,TOTAL_VOTOS
0,61000,250000042444,CHRISTIAN FUZIKI IKEDA,PREFEITO,ELEITO,2371
1,61000,250000073665,ELIAS TOLOVI ROSA,PREFEITO,NÃO ELEITO,1624
2,61000,250000091585,DOMINGOS MENTE LOPES,PREFEITO,NÃO ELEITO,1756
3,61000,250000042446,EDSON ALVES DA SILVA,VEREADOR,SUPLENTE,15
4,61000,250000042447,LUIZ FERREIRA DE SOUZA,VEREADOR,SUPLENTE,179

In [6]:
# sequencial dos vereadores eleitos em são paulo
sequencial = [250000011022, 250000020852, 250000022100, 250000020813, 250000010992, 250000020825, 250000022074, 
              250000022081, 250000005006, 250000022076, 250000004987, 250000022098, 250000004981, 250000022086,
              250000022120, 250000020837, 250000004982, 250000011622, 250000022111, 250000010999, 250000004989, 
              250000022073, 250000058381, 250000008365, 250000004984, 250000022137, 250000008347, 250000020779, 
              250000014868, 250000011624, 250000022124, 250000011011, 250000022075, 250000004997, 250000005003, 
              250000008293, 250000004992, 250000022084, 250000004986, 250000011018, 250000005798, 250000022114, 
              250000019126, 250000019125, 250000010863, 250000010847, 250000011027, 250000020854, 250000010842, 
              250000010991, 250000008366, 250000004979, 250000008375, 250000011016, 250000014885]

In [7]:
eleitos = df[df['Sequencial Candidato'].isin(sequencial)]

In [8]:
eleitos_dic = {'ADILSON AMADEU': 250000019125,
 'ADRIANA RAMALHO': 250000004979,
 'ALESSANDRO GUEDES': 250000022073,
 'ALFREDINHO': 250000022074,
 'ALINE CARDOSO': 250000004981,
 'ANDRÉ SANTOS': 250000008293,
 'ARSELINO TATTO': 250000022076,
 'ATILIO FRANCISCO': 250000008347,
 'AURÉLIO NOMURA': 250000004982,
 'CAMILO CRISTÓFARO': 250000010991,
 'CELSO JATENE': 250000022114,
 'CLAUDINHO DE SOUZA': 250000004987,
 'CLAUDIO FONSECA': 250000010847,
 'CONTE LOPES': 250000011011,
 'DANIEL ANNENBERG': 250000005003,
 'DAVID SOARES': 250000011016,
 'DONATO': 250000022075,
 'DR. MILTON FERREIRA': 250000058381,
 'EDIR SALES': 250000020825,
 'EDUARDO SUPLICY': 250000022081,
 'EDUARDO TUMA': 250000004992,
 'ELISEU GABRIEL': 250000010992,
 'FABIO RIVA': 250000004984,
 'FERNANDO HOLIDAY': 250000011018,
 'GEORGE HATO': 250000020779,
 'GILBERTO NASCIMENTO JR': 250000008375,
 'GILBERTO NATALINI': 250000011624,
 'GILSON BARRETO': 250000005006,
 'ISAC FELIX': 250000022120,
 'JAIR TATTO': 250000022084,
 'JANAINA LIMA': 250000005798,
 'JOÃO JORGE': 250000004997,
 'JULIANA CARDOSO': 250000022086,
 'MARIO COVAS NETO': 250000004989,
 'MILTON LEITE': 250000011022,
 'NOEMI NONATO': 250000022124,
 'OTA': 250000010999,
 'PATRICIA BEZERRA': 250000004986,
 'PAULO FRANGE': 250000019126,
 'POLICE NETO': 250000020837,
 'REIS': 250000022098,
 'RICARDO NUNES': 250000020813,
 'RICARDO TEIXEIRA': 250000022137,
 'RINALDI DIGILIO': 250000008366,
 'RODRIGO GOULART': 250000020852,
 'RUTE COSTA': 250000020854,
 'SANDRA TADEU': 250000011027,
 'SENIVAL MOURA': 250000022100,
 'SONINHA': 250000010842,
 'SOUZA SANTOS': 250000008365,
 'SÂMIA BOMFIM': 250000014885,
 'TONINHO PAIVA': 250000022111,
 'TONINHO VESPOLI': 250000014868,
 'TRIPOLI': 250000011622,
 'ZÉ TURIN': 250000010863}

In [9]:
eleitos = eleitos.groupby('Sequencial Candidato')['TOTAL_VOTOS'].sum().reset_index()
eleitos = eleitos.sort_values(by="TOTAL_VOTOS", ascending=False)
eleitos.columns

Index(['Sequencial Candidato', 'TOTAL_VOTOS'], dtype='object')

In [10]:
eleitos_dic1 = {y:x for x,y in eleitos_dic.items()}
eleitos["NOME"] = eleitos["Sequencial Candidato"].map(eleitos_dic1)
eleitos = eleitos[['Sequencial Candidato','NOME', 'TOTAL_VOTOS']]
eleitos.head()

    Sequencial Candidato              NOME  TOTAL_VOTOS
44          250000022081   EDUARDO SUPLICY       301446
26          250000011022      MILTON LEITE       107957
28          250000011622           TRIPOLI        88843
23          250000011011       CONTE LOPES        80052
6           250000004989  MARIO COVAS NETO        75593

In [11]:
eleitos = eleitos.rename(columns={
    'Sequencial Candidato': 'candidate_id', 
    'NOME': 'candidate', 
    'TOTAL_VOTOS': 'votes'})

In [12]:
eleitos

    candidate_id               candidate   votes
44  250000022081         EDUARDO SUPLICY  301446
26  250000011022            MILTON LEITE  107957
28  250000011622                 TRIPOLI   88843
23  250000011011             CONTE LOPES   80052
6   250000004989        MARIO COVAS NETO   75593
7   250000004992            EDUARDO TUMA   70273
32  250000019125          ADILSON AMADEU   67071
14  250000008365            SOUZA SANTOS   55924
35  250000020813           RICARDO NUNES   54692
50  250000022114            CELSO JATENE   53715
21  250000010992          ELISEU GABRIEL   52355
38  250000020852         RODRIGO GOULART   49364
25  250000011018        FERNANDO HOLIDAY   48055
13  250000008347        ATILIO FRANCISCO   46961
22  250000010999                     OTA   45915
48  250000022100           SENIVAL MOURA   45320
4   250000004986        PATRICIA BEZERRA   45285
8   250000004997              JOÃO JORGE   42404
2   250000004982          AURÉLIO NOMURA   41954
17  250000010842                 SONINHA   40113
36  250000020825              EDIR SALES   39062
10  250000005006          GILSON BARRETO   38564
12  250000008293            ANDRÉ SANTOS   37393
9   250000005003        DANIEL ANNENBERG   36983
41  250000022074              ALFREDINHO   36324
49  250000022111           TONINHO PAIVA   35219
46  250000022086         JULIANA CARDOSO   34949
27  250000011027            SANDRA TADEU   34182
39  250000020854              RUTE COSTA   33999
37  250000020837             POLICE NETO   33537
42  250000022075                  DONATO   32592
52  250000022124            NOEMI NONATO   32116
45  250000022084              JAIR TATTO   30989
16  250000008375  GILBERTO NASCIMENTO JR   30382
0   250000004979         ADRIANA RAMALHO   29756
20  250000010991       CAMILO CRISTÓFARO   29603
47  250000022098                    REIS   29308
33  250000019126            PAULO FRANGE   29242
53  250000022137        RICARDO TEIXEIRA   28515
3   250000004984              FABIO RIVA   28041
29  250000011624       GILBERTO NATALINI   28006
40  250000022073       ALESSANDRO GUEDES   26780
43  250000022076          ARSELINO TATTO   26596
34  250000020779             GEORGE HATO   26104
51  250000022120              ISAC FELIX   25876
1   250000004981           ALINE CARDOSO   25769
5   250000004987      CLAUDINHO DE SOUZA   24923
24  250000011016            DAVID SOARES   24892
54  250000058381     DR. MILTON FERREIRA   21849
15  250000008366         RINALDI DIGILIO   20916
11  250000005798            JANAINA LIMA   19425
18  250000010847         CLAUDIO FONSECA   18444
30  250000014868         TONINHO VESPOLI   16012
19  250000010863                ZÉ TURIN   14957
31  250000014885            SÂMIA BOMFIM   12464

In [13]:
eleitos.to_csv("../data/elected.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../data/elected.csv'